package/*.tar.bz2
/.yardoc
/doc
/Makefile
/Makefile.am
/Makefile.am.common
/Makefile.in
/aclocal.m4
/agents/Makefile
/agents/Makefile.in
/autodocs-cc-base.ami
/autodocs-cc-off.ami
/autodocs-cc.ami
/autodocs-ycp.ami
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/cluster.pot
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.ac
install-sh
/missing
/pluglib-bindings.ami
/src/Makefile
/src/Makefile.in
