package/*.tar.bz2

# Travis CI
.yardoc
Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
agents/Makefile
agents/Makefile.in
autodocs-cc-base.ami
autodocs-cc-off.ami
autodocs-cc.ami
autodocs-ycp.ami
autom4te.cache
cluster.pot
config.guess
config.log
config.status
config.sub
configure
configure.ac
doc
install-sh
missing
pluglib-bindings.ami
src/Makefile
src/Makefile.in
